.doidera {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #293241;
}
.fa-rocket {
  margin-left: 15px;
  font-size: 35px;
  color: #7eb6d9;
  /* border: 1px solid red; */
}

.nav li {
  display: inline-block;
}
#nav li a {
  /* border: 1px solid red; */
  margin-right: 2rem;
  color: white;
  text-decoration: none;
}
