* {
  font-family: 'Kanit', sans-serif;
  font-weight: bold;
}

:root {
  /* border: 1px solid red; */
  height: 100vh;
  background-color: #003049;
}

.container {
  margin: 0;
  /* border: 1px solid red; */
  min-height: calc(112.6vh - 211px - 58px);
  /* background-color: #003049; */
}
